@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@600&family=Oswald&display=swap');
.App {
  background-color:black ;
  font-family: 'Abhaya Libre', serif;
font-family: 'Oswald', sans-serif;
}
